# =========================
# PYTHON
# =========================

venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# NODE
# =========================

node_modules/
.next/
out/

# =========================
# ENV
# =========================

.env
.env.local

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================

*.log

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# BUILD
# =========================

dist/
build/

# =========================
# CACHE
# =========================

.cache/